@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Chào mừng đến với Memoire de Fleur Shop - nơi tinh tế của những tác phẩm nghệ thuật handmade từ hoa khô!

    Tại cửa hàng của chúng tôi, chúng tôi tận dụng vẻ đẹp tinh tế và tự nhiên của hoa khô để tạo ra những sản phẩm độc đáo và đẹp mắt. Với sự tôn trọng và yêu thích đối với thiên nhiên, chúng tôi kết hợp kỹ thuật thủ công tinh tế với sự sáng tạo để tạo ra những tác phẩm nghệ thuật độc đáo mang đến cho không gian sống của bạn sự ấm áp và sang trọng.

    Từ các bó hoa khô tinh tế cho đến những trang trí nội thất và quà tặng độc đáo, mỗi món hàng tại cửa hàng của chúng tôi đều được chăm sóc và sản xuất với tâm huyết và tình yêu. Với sự đa dạng về màu sắc, hình dáng và kiểu dáng, chúng tôi tự tin rằng bạn sẽ tìm thấy sản phẩm hoàn hảo để thêm sự đẹp mắt và sức sống tự nhiên vào không gian sống của mình.

    Hãy khám phá cửa hàng của chúng tôi và đắm chìm trong thế giới tinh tế và đẹp mắt của những tác phẩm nghệ thuật handmade từ hoa khô.
</p>